<h1>Events Dashboard</h1>
<table class="table">
  <thead>
    <tr>
        <th scope="col">Event Id</th>
        <th scope="col">Recipient</th>
        <th scope="col">Processed</th>
        <th scope="col">Delivered</th>
    </tr>
  </thead>
  <tbody>
    <% @return_hash.each do |key,value| %>
        <tr>
            <td><%= key %></td>
            <td><%= value[:email] %></td>
            <td>
                <% if value[:processed] %>
                    <i class="bi bi-check-circle-fill"></i>
                <% else %>
                    <i class="bi bi-dash-lg"></i>
                <% end %>
            </td>
            <td>
                <% if value[:delivered] %>
                    <i class="bi bi-check-circle-fill"></i>
                <% else %>
                    <i class="bi bi-dash-lg"></i>
                <% end %>
            </td>
        </tr>
    <% end %>    
    
  </tbody>
</table>